body{
 background-color:bisque;
 text-align: center;
}

.boxes_main_Container{
    display: flex;
    justify-content: center;
    /* margin: 3rem; */
}


.box{
    width: 200px;
    height:200px;
    border-radius:20%;
    border: 8px solid black;
    margin: 1.5rem;
    cursor: pointer;
    
}

.yellow{
    background-color: yellow;
}

.darkcyan{
    background-color: darkcyan;
}

.crimson{
    background-color: crimson;
}

.deepskyblue{
    background-color: deepskyblue;
}

.flash{
    background-color: white;
}


.rules{
    background-color: bisque;
    display: flex;
    justify-content:flex-start;
    height: 40px;
    /* width: min-content; */
    width: fit-content;
    align-items: center;
    margin:auto;
    padding-left: 1rem;
    border-radius: 4px;
    border: 6px solid yellowgreen;
}
h3{
    padding: right 2px;
}

button{
    margin: 1rem;
    border-radius: 7px;
    border: 2px solid chocolate;
    cursor: pointer;
}
